@(problem_state: List[String])(problem_condition: List[String])(programs: List[String])(tags: List[String])(smallproblemstate: List[String])(smallproblemcondition: List[String])(subprograms: List[String])(solves: List[String])

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/top.css")">
        <title>Shimon Solve</title>
    </head>
    <body>
     <div id="pagebody">
    
    	<!-- ヘッダ -->
    	<div id="header"><h1>Shimon Solve</h1></div>
    	
    	<!-- メインメニュー -->
    	<ul id="menu">
    		<li id="menu01"><a href="/login">LOGIN</a></li>
    		<li id="menu02"><a href="/home">HOME</a></li>
    		<li id="menu03"><a href="xxx.html">PROBREM</a></li>
    		<li id="menu04"><a href="xxx.html">SOLVE</a></li>
    		<li id="menu05"><a href="/logout">LOGOUT</a></li>
    	</ul>
    	
    	<script type="text/javascript">
            function ChangeTab1(tabname) {
            // タブメニュー実装
            document.getElementById('tab1').style.display = 'none';
            document.getElementById('tab2').style.display = 'none';
            // タブメニュー実装
            document.getElementById(tabname).style.display = 'block';
            }
            
            function ChangeTab2(tabname) {
            // タブメニュー実装
            document.getElementById('tab3').style.display = 'none';
            document.getElementById('tab4').style.display = 'none';
            // タブメニュー実装
            document.getElementById(tabname).style.display = 'block';
            }
        </script>
        
        <div id="content">
    	
    	<div class="tabbox1">
        
        <p class="tabs">
            <a href="#tab1" class="tab1" onclick="ChangeTab1('tab1'); return false;">問題・条件</a>
            <a href="#tab2" class="tab2" onclick="ChangeTab1('tab2'); return false;">プログラム</a>
        </p>
        
        <div id="tab1" class="tab">
            @for((obj,i) <- problem_state.zipWithIndex) {
                <div>@{obj}</div>
            }
            
            @for((obj,i) <- problem_condition.zipWithIndex) {
                <li>@{obj}</li>
            }
            
            @for((obj,i) <- tags.zipWithIndex) {
                <div> 付加タグ@{i+1} : @{obj}</div>
            }
            
         </div>
 
        <div id="tab2" class="tab">
        
            @for((obj,i) <- programs.zipWithIndex) {
                <div>@{obj}</div>
            }
        
        </div>
        </div>
        
        <br>
        
        <dic class="tabbox2">
        
        <p class="tabs2">
            <a href="#tab3" class="tab3" onclick="ChangeTab2('tab3'); return false;">設問・条件</a>
            <a href="#tab4" class="tab4" onclick="ChangeTab2('tab4'); return false;">回答</a>
        </p>
        
       
        <div id="tab3" class="ttab">
    
            @for(state <- smallproblemstate) {
                <div>@state</div>
            }
            
            @for(condition <- smallproblemcondition) {
                <li>@condition</li>
            }
            
            @for(subprogram <- subprograms) {
                <div>@subprogram</div>
            }
            
　      </div>

        <div id="tab4" class="ttab">
            
        @if(solves.size() == 0){
            <form action="/shimon_solve" method="POST">
            <input type="text" name="solve"/>
            <br>
            <input type="submit" value="SOLVE"/>
            </form>
        } else {
            <form action="/shimon_solve" method="POST">
            @for(solve <- solves) { 
                <input type="radio" name=solve value=@solve />
                @solve
                <br>
            }
            <input type="submit" value="SOLVE"/>
            </form>
        }  
            
        </div>
   
        </div>
        </div>
        
        <script type="text/javascript">
            ChangeTab1('tab1');
            ChangeTab2('tab3');
        </script>
        
    </div>    
    </body>
</html>